.idea

# Terraform and terragrunt
*.tfstate/
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/
.circleci
go.mod
go.sum
terraform.tfvars
airflow config/airflow.cfg

test/fixtures/keys/*
!test/fixtures/keys/.gitkeep
